!! Color theme
!#include ".config/themes/solarized_light.th"
!#include ".config/themes/solarized_dark.th"
!#include ".config/themes/baskerville_count.th"
!#include ".config/themes/baskerville_eldorado.th"
!#include ".config/themes/baskerville_farside.th"
!#include ".config/themes/baskerville_woods.th"
!#include ".config/themes/cloud.th"
#include ".config/themes/gruvbox_light.th"
!#include ".config/themes/gruvbox_dark.th"
!#include ".config/themes/codeschool_dark_custom.th"
!#include ".config/themes/codeschool_dark_purple.th"
!#include ".config/themes/codeschool_dark.th"
!#include ".config/themes/codeschool_light.th"
!#include ".config/themes/codeschool_light_custom.th"
!#include ".config/themes/darkocean.th"
!#include ".config/themes/dawn.th"
!#include ".config/themes/matrix.th"
!#include ".config/themes/monotheme.th"
!#include ".config/themes/vacuous.th"
!#include ".config/themes/visibone.th"
!#include ".config/themes/trim-yer-beard.th"
!#include ".config/themes/erebus.th"
!#include ".config/themes/euphrasia.th"
!#include ".config/themes/dkeg_catch.th"
!#include ".config/themes/dkeg_citystreets.th"
!#include ".config/themes/dkeg_colorstar.th"
!#include ".config/themes/dkeg_panels.th"
!#include ".config/themes/dkeg_phoenix.th"
!#include ".config/themes/dkeg_teva.th"
!#include ".config/themes/dkeg_vwbug.th"

!! vim colorscheme default

st.termname:   st-256color
st.shell:      /bin/bash
st.opacity:    255

st.font:       xft:Fixedsys Excelsior:style=Regular:size=11:antialias=true
st.bold_font:  0
st.cwscale:    1.0
st.chscale:    1.0
st.internalBorder : 55

dwm.normbordercolor: #af61f4
dwm.normbgcolor: #271f36
dwm.normfgcolor: #af61f4
dwm.selbordercolor: #10cf29
dwm.selbgcolor: #af61f4
dwm.selfgcolor: #271f36

rofi.font: hack 10

!*.font: xft:Fixedsys Excelsior:style=Regular:size=11:antialias=false
!*.boldFont: xft:Fixedsys Excelsior:style=Regular:size=11:antialias=false
!*.letterSpace: -3
